[Unit]
Description=QBroker Flow {{id}}
After=network-online.target
[Service]
Type=forking
ExecStart={{qb_dir}}/bin/QFlow_{{id}}.sh start
ExecStop={{qb_dir}}/bin/QFlow_{{id}}.sh stop
User={{qb_user}}
Group={{qb_group}}
[Install]
WantedBy=multi-user.target
