#!/bin/bash

## for QFlow_{{id}}

ID={{id}}
OWNER={{qb_user}}
QF_SCRIPT=QFlow_${ID}.sh
SCRIPT_HOME={{qb_dir}}/bin
START_SCRIPT="$QF_SCRIPT start"
STOP_SCRIPT="$QF_SCRIPT stop"

case $1 in
'start')
    myid=`/usr/bin/id $OWNER | /usr/bin/awk '{print $1}'`
    yourid=`/usr/bin/id | /usr/bin/awk '{print $1}'`
    if [ "$yourid" = "$myid" ]
    then
        cd $SCRIPT_HOME; ./$START_SCRIPT
    else
        /bin/su - $OWNER -c "cd $SCRIPT_HOME; ./$START_SCRIPT"
    fi
    ;;

'stop')
    cd $SCRIPT_HOME; ./$STOP_SCRIPT
    ;;

'restart')
    $0 stop
    /bin/sleep 2
    $0 start
    ;;

'failover'|'shutdown'|'disable'|'enable'|'query'|'status'|'show'|'reload')
    cd $SCRIPT_HOME; ./$QF_SCRIPT "$@"
    ;;

*'.json')
    $SCRIPT_HOME/$QF_SCRIPT "$@"
    ;;

*)
    echo "usage: $0 {start|stop|restart|status|failover|query|enable|disable|shutdown|show}"
    ;;
esac
